.c-boggle {
  background-color: #fff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

}

.c-boggle__tile {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  font-size: $spacing-unit * 2;
  text-align: center;
  text-transform: uppercase;
}
