.c-results {
  background-color: #eee;
  padding-top: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  padding-bottom: $spacing-unit;
}

@media (max-width: 720px) {
  .c-results .u-1\/4 {
    width: 50%;
  }
}
