.c-wordlist {
  list-style: none;
  margin-left: 0;
  padding-top: $spacing-unit;
  overflow-y: auto;
  max-height: 200px;
}

.c-wordlist__word {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: $spacing-unit / 2;
}
