$namespace: '' !default;
$wrapper-width: 60rem !default;
$spacing-unit: 1rem !default;
$base-font-size: 1rem !default;

$color-brand: #FFC77F;
$color-highlight: lighten($color-brand, 15%);

$breakpoints: (
  small: 720px,
  medium: 960px,
  large: 1200px
) !default;

$fractions: (
  '1/1': 1/1,
  '1/2': 1/2,
  '1/3': 1/3,
  '2/3': 2/3,
  '1/4': 1/4,
  '2/4': 2/4,
  '3/4': 3/4,
  '1/5': 1/5,
  '2/5': 2/5,
  '3/5': 3/5,
  '4/5': 4/5,
  '1/6': 1/6,
  '2/6': 2/6,
  '3/6': 3/6,
  '4/6': 4/6,
  '5/6': 5/6,
  '1/7': 1/7,
  '2/7': 2/7,
  '3/7': 3/7,
  '4/7': 4/7,
  '5/7': 5/7,
  '6/7': 6/7,
  '1/8': 1/8,
  '2/8': 2/8,
  '3/8': 3/8,
  '4/8': 4/8,
  '5/8': 5/8,
  '6/8': 6/8,
  '7/8': 7/8,
) !default;
